ul li ul {
    display: block;

}

#invisiblelis{
    display: none;

}
.show {
    display: block;
}
ul li:hover > ul {
    display: block;

}

header{
    display: flex;
    /* width: 1500px; */
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    height: 80px;
    margin: 10px;
    border-bottom: 2px solid black;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 120%;
}
header nav ul a{
    text-decoration: none;

}
#profileUser{
    display: none;
}

#profile {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
}

#profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

#profileUser h1 {
    font-size: 1.8em;
    margin: 0;
}

#profileUser h3 {
    margin: 5px 0;
    font-weight: 600;
    color: #333;
}

#profileUser p {
    color: #777;
    font-size: 1em;
}
#bodyHome{
    display: grid;
    grid-template-columns: 20% auto;
    min-height: 77vh;
}
#tools{
    border-right: 2px solid black;
    display: flex;
    align-items: center;
    padding-top: 20px;
    /* justify-content: space-between; */
    /* padding-left: 30px; */
}
#tools ul{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: column;
}
#tools ul li{
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;

}
#tools ul a{
    text-decoration: none;
}
#home{
    display: grid;
    grid-template-rows: 10% auto;
    padding: 10px;
}
#timeMessage{
    display: grid;
    place-items: center;
}
#toolsHome{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.star{
    border: 1px solid rgb(194, 164, 221);
    margin: 2px;
    display: grid;
    place-items: center;
}
.star a{
    text-decoration: none;
    font-size: 1.6em;
}
.crud{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
    left: 700px;
    padding: 20px;
    justify-content: space-around;
    border: 2px solid seagreen;
    z-index: 200;
    background-color: #777;
}
.crud form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}
#crudDepartments{
    display: none;
}
#crudProjects{
    display: none;
}