
header{
    display: flex;
    justify-content: space-around;
    background-color: #333; 

}
nav {
    margin-top: 20px;
    height: 7vh;
    border-radius: 9px;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}

nav li {
    margin: 0 15px; 
}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 5px;
    transition: background-color 0.3s; 
}

nav a:hover {
    background-color: #555; 
    transform: scale(5);
}

#signUp{    
    border-radius: 10%;
    border: 1px solid honeydew;
}
.btns-container{
    font-size: 1.7rem;
    position: relative;
    top: 20px;
    left: -14px;
    color: #fff;
    opacity:0.7 ;
}
#sectionLogin{
    display: none;
    place-items: center;
    margin: 100px;
}
#sectionLogin h1{
    padding-left: 40px;
}
#cotainerLogin{
    display:block;
    justify-content: space-between;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}


.login-form label {
    margin-bottom: 5px;
    font-size: 16px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-form .btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form .btn:hover {
    background-color: #0056b3;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.position-relative {
    position: relative;
}

@media (max-width: 500px) {
    .login-form {
        max-width: 100%;
    }
}


@media screen and (min-width:650px) {
    .btns-container{
        display: none;
    } 
}

@media screen and (max-width:655px) {
    #login{
        display: none;
    }
    #listarnav{
        display: block;
        font-size: .8em;

    }
    #ocultar{
        display: none;
        font-size: .8em;

    }
    nav a{
        padding: 0;
        font-size: .8em;
    }
}
